*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.header__container{
    color: aliceblue;
    width: 1040px;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 25px;
}

.menu{
    display: flex;
    list-style-type: none;
}
.menu__item{
    margin-right: 30px;
}

.menu__item:hover{
    border-bottom: 2px solid white;
    translate: 1000ms;
}

.img{
    background:url("./ITmz1dpngXQ\ \(1\).jpg");
    width: 100px;
    height: 100px;
    background-repeat: no-repeat;
    border-radius: 100px;
    background-size: cover;
}
.img:hover{
    transform: rotate(200deg);
    transition: 1000ms;
}

.main__container{
    border: 1px solid white; 
    min-height: 450px;
    width: 1040px;
    margin: 0 auto;
    margin-top: 80px;
    padding: 40px;
    color: whitesmoke;
    border-radius: 40px;
    margin-bottom: 40px;
}
body{
    background: linear-gradient(rgb(190, 0, 159),rgb(30, 0, 21));
}

.title__contacts{
    font-size: 32px;
    margin-bottom: 20px;
}

.btn__animation{
    color: red;
}

.btn{
    color: black;
    background: linear-gradient(190deg ,rgba(140, 2, 158, 0.858), rgb(39, 0, 30));
    padding: 10px 20px;
    border-radius: 5px;
    margin-top: 20px;
}

.section__game{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 40px;
    border-top: 1px solid white;
    padding: 40px;
}